ul.ddmenu {
    margin: 0px;
    padding: 0px 0px 0px 15px;
    background-color: #9eeaff;
}

ul.ddmenu li {
    width: 125px;
    display: inline-block;
    list-style-type: none;
    position: relative;
}

ul.ddmenu a {
    background-color: #008cff;
    color: black;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    display: block;
}

ul.ddmenu a:hover {
    background-color: aquamarine;
    color: #008cff;
}

ul.ddmenu ul {
    display: none;
    margin: 0px;
    padding: 0px;
    position: absolute;
}

ul.ddmenu li:hover ul {
    display: block;
}